html {
	height: 100%;
}

:root {
	--white: #fff;
	--black: #000;

	/* Primary colors*/
	--primary-1: #2b8379;
	--primary-2: #19a596;
	--primary-3: #7fd1c7;
	--primary-4: #7fd1c7;
	--primary-5: #d0f3ef;

	/* Neutral colors */
	--neutral-1: #2c2c2c;
	--neutral-2: #434343;
	--neutral-3: #94868b;
	--neutral-4: #d9cfd3;
	--neutral-5: #f2ecee;

	/* Accent-blue colors */
	--accent-1: #970e3d;
	--accent-2: #c43464;
	--accent-3: #de7699;
	--accent-4: #e6c3ce;
	--accent-5: #fff2f7;
}

footer {
	background: #333;
	color: #fff;
	padding: 3rem;
	text-align: center;
	position: relative;
	border-top: 1px solid #e7e7e7;
	left: 0;
	bottom: 0;
	width: max auto;

	margin-top: auto;
}

body {
	background-color: var(--neutral-5);
	margin: 0;
	font-family: sans-serif;
	line-height: 1.6;

	min-height: 100%;

	display: flex;
	flex: auto;
	flex-direction: column;
	/*This makes it from left to right aligned */
}

h1 {
	font-size: 36px;
	font-weight: 600;
}

h2 {
	font-size: 28px;
	font-weight: 500;
}

h3 {
	font-size: 24px;
	font-weight: normal;
}

p {
	line-height: 30px;
	font-size: 18px;
}

a {
	color: var(--primary-2);
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.rounded {
	border-radius: 30px;
}

/* .container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
} */

/* BUTTONS */
.btn {
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	padding: 13px 40px;
	border: 0;
	transition: background-color 200ms, color 200ms;
}

.btn-default {
	color: var(--white);
	background-color: var(--primary-1);
}

.btn-default:hover,
.btn-outline:hover {
	color: var(--white);
	background-color: var(--primary-2);
	text-decoration: none;
}

.btn-default:active,
.btn-outline:active {
	color: var(--primary-1);
	background-color: var(--primary-4);
}

.btn-default[disabled],
.btn-outline[disabled] {
	color: var(--primary-4);
	background-color: var(--primary-5);
	cursor: default;
}

.btn-accent {
	color: var(--white);
	background-color: var(--accent-1);
}

.btn-accent:hover {
	color: var(--white);
	background-color: var(--accent-2);
	text-decoration: none;
}

.btn-accent:active {
	color: var(--accent-1);
	background-color: var(--accent-4);
}

.btn-accent[disabled] {
	color: var(--accent-4);
	background-color: var(--accent-5);
	cursor: default;
}

.btn-outline {
	color: var(--primary-1);
	background-color: var(--primary-4);
	border: var(--primary-1) 2px solid;
	box-shadow: 1px 1px 7px #c4c4c4;
	padding: 8px 25px;
	border-radius: 10px;
}

/* FORMS */
.form h2 {
	font-size: 24px;
	font-weight: 400;
}

.form h3 {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
}

.form-section {
	border-bottom: var(--neutral-4) solid 1px;
	margin-bottom: 20px;
}

input-required {
	color: var(--primary-2);
	text-decoration: none;
	font-weight: bold;
	padding: 0 1px;
}

.label {
	display: block;
	font-weight: 500;
}

input {
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding: 0.75em 0.5em;
	min-width: 200px;
	border: none;
	border-left: 7px solid var(--neutral-4);
	transition: border-left-color 160ms;
	background-color: white;
}

::placeholder {
	color: var(--neutral-4);
}

input:focus {
	outline: none;
	border-left: 7px solid var(--primary-1);
}

/* NAVBAR */
.navbar {
	background-color: white;
	padding: 10px;
	box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
		0px -3px 7px 1px rgba(0, 0, 0, 0.07);
	display: flex-center;
	align-items: center;
	justify-content: space-between;
}

.nav-brand {
	font-size: 40px;
	font-weight: 450;
	text-decoration: none;
	padding-left: 20px;
	color: initial;
}
.nav-brand:hover {
	text-decoration: none;
}
.nav-brand:active {
	color: var(--primary-1);
}

.navbar ul {
	list-style-type: none;
	overflow: hidden;
	padding-right: 20px;
	text-align: center;
}

.navbar li {
	display: inline-block;
}

.nav-item a {
	text-decoration: none;
	font-weight: normal;
	color: var(--primary-1);
	display: inline-block;
	text-align: center;
	padding: 13px 20px;
	min-width: 75px;
}

.nav-item:hover a {
	text-decoration: none;
	color: var(--primary-2);
}

form {
	background-color: var(--light-gray);
	padding: 20px;
	border-radius: 3px;
}

.form-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Loader */
.spinner {
	animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
.path {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	transform-origin: center;
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
	0% {
		stroke: #4285f4;
	}
	25% {
		stroke: #de3e35;
	}
	50% {
		stroke: #f7c223;
	}
	75% {
		stroke: #1b9a59;
	}
	100% {
		stroke: #4285f4;
	}
}
@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}

.container {
	background: violet;
	height: 100%;
	/* width: 100%; */
	padding: 0.5em;
	margin: 5 auto 5;

	display: flex;
	flex-direction: row;

	align-items: stretch;
	/* this is a default */
	/* align-items: flex-start;  */

	/* flex-wrap: wrap;*/

	/* justify-content: center;
	align-items: stretch; */
	align-content: space-around;

	/* align-content: flex-end;  center => all content in the middle of the container*/
}

.item {
	background: lightblue;
	margin: 0.5em;
}

.one {
	flex: 0 3 100px; /* tohle je úplně stejný jako ty následující pod ním */
	text-align: center;
	display: grid;
	/* align-self: flex-start; */
	/* //////////////////////////////////////////////////////////////// */

	/* flex-grow: 0; /* žer co můžeš z prostoru v kontaineru funkce */
	/* flex-shrink: 1;
	flex-basis: 250px; */
}
.two {
	flex: 3 2 250px;
	/* align-self: flex-start; */
	/* align-self:  is breaking a default of the container */

	/* order: 0; natural resting place aka původní místo */
	/* order: 3; */
}
.three {
	flex: 3 1 250px;
}

/* Employeee form */

.card {
	background-color: white;
	border: 1px solid #333;
	border-radius: 0.5rem;
	padding: 0.5rem;
	max-width: 300px;
	margin: 0 auto;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
	gap: 0.25rem;
}

.form-group:last-child {
	margin: 0;
}

.form-group > label {
	font-weight: bold;
	font-size: 0.8em;
	color: #333;
}

.form-group > input {
	border: 1px solid #333;
	border-radius: 0.25em;
	font-size: 1rem;
	padding: 0.25em;
}

.basic-info {
	margin: 0;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: normal;
}

.step-title {
	margin: 0;
	margin-top: 1rem;
	text-align: center;
}

/* Admin sidebar */

.sidebar {
	background-color: #2f4050;
}

.SidebarList {
	height: 100%;
}

.SidebarItem {
	height: 50px;
	width: 100%;
	border: 1px solid black;
	list-style-type: none;
}

.SidebarList .SidebarItem:hover {
	cursor: pointer;
	background-color: #293846;
}

.SidebarList #active {
	background-color: #293846;
}

/* create post */

textarea {
	resize: none;
	font-family: mon;
	font-size: 16px;
}

.postTitle {
	font-size: 24px;
	font-style: bold;
}

button {
	margin: 10px;
}
